<!--<?xml version="1.0" encoding="UTF-8"?>-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="dev" class="org.example.Dev" autowire="byType">
<!--        <property name="comp" ref="lap1"/>-->
    </bean>
    <bean id="lap1" class="org.example.Laptop">
    </bean>
    <bean id="desk1" class="org.example.Desktop">
    </bean>
</beans>